<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<plugins>
		<plugin interceptor="cn.lfy.common.page.PageInterceptor">
			<property name="dialect" value="mysql"/>
		</plugin>
		<plugin interceptor="cn.lfy.common.page.PageResultSetInterceptor">
			<property name="dialect" value="mysql"/>
		</plugin>
	</plugins>
</configuration>
